/* styles.css */
/* Add styles for the TextField component */

div {
    margin-bottom: 15px;
  }
  
  label {
    
    margin-bottom: 5px;
    margin-right: 10px;
    font-weight: bold;
  }
  
  input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  input:focus {
    outline: none;
    border-color: black; 
  }
  